<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>RapidMail - PT Rapid Teknologi Indonesia</title>
  <meta content="" name="Email Management System">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="images/logo.png" rel="icon">
  <link href="images/logo.png" rel="apple-touch-icon">
	<link rel="stylesheet"  href="stylesheets/TempLogin/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet"  href="stylesheets/TempLogin/css/main.css">
</head>
<body style="background-color: #aca5a5;">
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
                    <div class="text-center" style="margin-bottom: 10%;">
                        <img  src='images/logo.png' alt=""></img>
                    </div>
					<span class="login100-form-title p-b-43">
						Welcome To Repid Email Gateway
					</span>

                    <h5 style="text-align: center;margin-top: 10%;margin-bottom: 10%;"> Please Login With Your Email Account</h5>

					<a href="/authorize/login" class="login100-form-btn">						
							Login
					</a>
                    <div>
                        <p class="text-bottom" bottom style="text-align: center; margin-top: 10%;">Copyright © PT Rapid Technology 2020</p>
                    </div>
					
				</form>

				<div class="login100-more" style="background-image: url('images/rapid.jpg');image-rendering: optimizeQuality ;">
				</div>
			</div>
		</div>
	</div>
</body>
</html>